body{
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 0%;
}

.header-section{
    background-color: darksalmon;
    color: blanchedalmond;
    padding-top: 15px;
}

.header-section nav{
    display: flex;
    justify-content: first baseline;
}

.container{
    width: 1170px;
    margin: auto;
}

.menu{
    list-style: none;
    margin: 0%;
}

.menu-item{
    display: inline-block;
    padding: 5px 10px;
    line-height: 27px;
}

.menu-item a{
    color: inherit;
    text-decoration: none;
}

.menu-item a:hover{
    color: aqua;
    text-decoration: underline;
}

li{ 
    border: 1px;
    border-style: solid;
    border-color: ghostwhite;
    background-color: indianred;
    border-radius: 7px;
}